@page
@model IndexModel
@{
    ViewData["Title"] = "Kotisivu";
}

<div class="text-center">
    <h1 class="display-4">Tervetuloa!</h1>
    <a class="nav-link text-light" asp-area="" asp-page="/TaskEntries/Index">Aloita lisäämään tehtäviä painamalla tästä</a>
    
</div>
