@page
@model TaskMAN.Pages.TaskEntries.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Poista</h1>


<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            <!--@Html.DisplayNameFor(model => model.TaskEntry.Description)-->
            <p>Tehtävä</p>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TaskEntry.Description)
        </dd>
    </dl>

    <h4>Oletko varma, että haluat poistaa tehtävän?</h4>
    <form method="post">
        <input type="hidden" asp-for="TaskEntry.ID" />
        <input type="submit" value="POISTA" class="btn btn-danger" /> |
        <a asp-page="./Index">Takaisin</a>
    </form>
</div>
