@page
@model TaskMAN.Pages.TaskEntries.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Tiedot</h1>

<div>
    <!-- <h4>TaskEntry</h4> -->
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            <!--@Html.DisplayNameFor(model => model.TaskEntry.Description)-->
            <p>Tehtävän kuvaus</p>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TaskEntry.Description)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            <!--@Html.DisplayNameFor(model => model.TaskEntry.CreatedDate)-->
            <p>Luotu</p>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TaskEntry.CreatedDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.TaskEntry.ID">Muokkaa</a> |
    <a asp-page="./Index">Takaisin</a>
</div>
